.login_wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url(~@/assets/images/login_bj.png) no-repeat center center;
  background-size: cover;
}

.login_wrap .login_bj {
  text-align: center;
}

.login_wrap .login_bj .header_title {
  color: #eee;
  font-size: 60px;
  padding: 6% 0 0;
}

.login_wrap .login_bj .header_logo {
  width: 300px;
  padding: 1% 0 0;
}

.login_wrap .login_box {
  width: 890px;
  height: 370px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 48%;
  margin: -130px auto auto;
  box-sizing: border-box;
  padding: 40px 100px 60px;
}

.login_wrap .login_box .left_box {
  float: left;
  margin-top: -18px;
  width: 250px;
  margin-right: 66px;
}

.login_wrap .login_box .left_box img {
  width: 100%;
}

.login_wrap .login_box .right_box {
  float: left;
  width: 350px;
}

.login_wrap .login_box .right_box .enter {
  font-size: 25px;
  color: #fff;
}
